
.background {
  position: relative;
  background: url("../../../../assets/icons/backgroundzajita.jpg")  0 0/100% 100% no-repeat ;

}
.zajita {

  display: flex;
  flex-direction: column;
}

.bth {
  color: #0075FF;
  cursor: pointer;
  transition-duration: 0.4s;
  background:#0075FF;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #0075FF ;
  border-radius: 12px;
  padding:10px;

}
.bth__item {
  display: flex;
  gap: 40px;
  margin: 3% 0 0;
}
@media screen and (max-width: 500px) {
  .bth__item {
    margin: 10% 0 0;
  }
}
.bth:hover {
  background:#0075FF;

  color: white;
}

