.feedForm {
  display: flex;
  flex-direction: column;
}
.feedFormGroup {
  padding: 5%;
}
.feedFormConditions {
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 10px;
  line-height: 20px;

  a {
    color: white;
    white-space: nowrap !important;

  }
  a:focus,
  a:hover,
  .link:focus,
  .link:hover,
  .pseudo-link:focus,
  .pseudo-link:hover {
    color: white;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }
}

.btn {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.7rem 1.5rem;
  font-size: 0.95rem;
  line-height: 1.6;
  border-radius: 24px;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: white;
  color: #22262d;
  margin-top: 0.8rem !important;
}
.btn:hover {
  color: #22262d;
  text-decoration: none;
}
.btn.disabled,
.btn:disabled,
.btn[disabled] {
  opacity: 0.65;
  color: #009fe3;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #22262d;
  background-color: #697583;
  border-color: #697583;
}
.background {
  margin: 150px 0 0;
  position: relative;
  height: 400px;
  width: 100%;
  background: url("../../../../assets/icons/oxrana.jpg") top/cover no-repeat;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 3%;
}

.div {
  margin: 70px 0 0;
}

@media screen and (max-width: 488px) {
  .div {
    margin: 100px 0 0;
  }
  .feedForm {
    display: block;
    padding: 10% 10%;
  }
  .wrapper {
    text-align: center;
    display: block;
  }
}