.services {
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  //justify-items: center;
  //align-items: center;
  align-content: center;
  gap: 20px;
  padding: 16px;
}
@media (max-width: 980px) {
  .services {
    grid-template-columns: minmax(320px, 1fr);
    gap: 40px;
  }
}
