.authWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 120px);

  .authPoster {
    position: absolute;
    top: -50px;
    left: -100px;
    display: block;
    width: 50%;
    height: 600px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    background-image: url("../../../assets/media/security.png");
  }
  .authPoster2 {
    position: absolute;
    top: -45px;
    right: -100px;
    display: block;
    width: 50%;
    height: 600px;
    z-index: -1;
    transform: scale(-1, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    background-image: url("../../../assets/media/security2.png");
  }

  @media (max-width: 900px) {
    .authPoster2,
    .authPoster {
      display: none;
    }
  }
}
